#enemy1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../GraphicsElements/sprites/inimigo1.png);
	
}

#enemy2 {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../GraphicsElements/sprites/inimigo2.png);
}