#player {
	width:256px;
	height:66px;
	position:absolute;
	left:8px;
	top:179px;
	background-image:url(../GraphicsElements/sprites/apache.png);
}

#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../GraphicsElements/sprites/disparo.png);
}

#player-friend {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(../GraphicsElements/sprites/amigo.png);
}