#explosion1{
    width:15px;
	height:87px;
	position:absolute;
    background-image: url(../GraphicsElements/sprites/explosao.png);
}

#explosion2 {
	width:15px;
	height:87px;
	position:absolute;
	background-image: url(../GraphicsElements/sprites/explosao.png);
}

#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}